<main class='main'>

  <section class='forms'>
    <div class='form'>
      <h1 class='form__title'>Create user</h1>
      <form id="form" method='POST' action='/user-create'>
        <div class='form__content'>
          <img class="form__img" src="https://picsum.photos/250/120" alt="user-img">
          <div class='form__field'>
            <label for='email' class='form__label'>
              Email address:
            </label>
            <input type='email' name='email' id='' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='password' class='form__label'>
              Login:
            </label>
            <input type='login' name='login' id='' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='login' class='form__label'>
              Password:
            </label>
            <input type='password' name='password' id='' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='age' class='form__label'>
              Age:
            </label>
            <input type="number" name='age' id='age' class='form__input' />
          </div>
          <div class='form__field'>
            <label for='role' class='form__label'>
              Role:
            </label>
            <select class='form__input' name="role" id="role" required>
              <option value="" disabled="" selected="">Сhoose a role</option>
              <option value="user">User</option>
              <option value="admin">Admin</option>
            </select>
          </div>
          <button type="submit" class='form__button'>Create</button>
        </div>
      </form>
    </div>

    <div class='form'>
      <h1 class='form__title'>Update user email</h1>
      <form method='POST' action='/user-update'>
        <div class='form__content'>
          <img class="form__img" src="https://picsum.photos/250/120" alt="user-img">

          <div class='form__field'>
            <label for='id' class='form__label'>
              ID:
            </label>
            <input value='{{editList.id}}' type='id' name='id' class='form__input' />
          </div>

          <div class='form__field'>
            <label for='email' class='form__label'>
              Email address:
            </label>
            <input value='{{editList.email}}' type='email' name='email' class='form__input' />
          </div>

          <div class='form__field'>
            <label for='password' class='form__label'>
              Password:
            </label>
            <input type='password' name='password' class='form__input' />
          </div>

          <div class='form__field'>
            <label for='age' class='form__label'>
              Age:
            </label>
            <input value='{{editList.age}}' type='number' name='age' id='' class='form__input' />
          </div>

          <div class='form__field'>
            <label for='role' class='form__label'>
              Role:
            </label>
            <select class='form__input' name="role" id="role" required>
              <option value="" disabled="" selected="">Сhoose a role</option>
              <option value="user">User</option>
              <option value="admin">Administrator</option>
            </select>
          </div>

          <button class='form__button'>Send</button>
        </div>
      </form>
    </div>
  </section>

  <section>
    <div class='form'>
      <h1 class='form__title'>Users list</h1>
      <div class='user-list'>

        {{#with data.users}}
        {{#if isEmpty}}
        <div class="user-list__item">
          List is empty
        </div>

        {{else}}

        {{#each list}}
        <div class="user-list__item">
          <a class="user-list__id-button" href='/user?id={{id}}' id='{{id}}'>
            <div class="user-list__part">{{email}}</div>
            <div class="user-list__part">{{login}}</div>
            <div class="user-list__part">{{age}}</div>
            <div class="user-list__part">{{role}}</div>
          </a>
          <a class='user-list__del-button' href='/user-delete?id={{id}}'>delete</a>
        </div>
        {{/each}}

        {{/if}}
        {{/with}}
      </div>
    </div>
  </section>

</main>